*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;text-decoration: none;}
nav, footer, header, aside{display: block;}
html, body{height: 100%;width: 100%;font-size: 100%;line-height: 1;font-size: 14px;-ms-text-size-adjust: 100%;-moz-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;}
input,button,textarea{font-family: inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a, a:visited {text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}



body {
    font-family: 'Ubuntu';
}

button {
    background: none;
}

a:visited {
    color: inherit;
}

/* flex */


/* flex */

/* typography */

.text_center {
    text-align: center;
}

.text_gray {
    color: #787A80;
}

.medium_header {
    font-size: 46px;
    font-weight: 700;
    line-height: 59.8px;
}

.base_bold {
    font-weight: 700;
    line-height: 44px;
}

.subhead {
    line-height: 27px;
    font-size: 18px;
    text-align: center;
    color: #787A80;
    font-weight: 400;
}

.small_bold {
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
}

.small_regular {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
}

.base_regular {
    font-weight: 400;
    font-size: 16px;
    color: #787A80;
    line-height: 25.6px;
}

.large_regular {
    font-size: 18px;
    min-height: 27px;
}

.lead_bold {
    font-weight: 700;
    color: #1E212C;
    font-size: 20px;
    line-height: 30px;
}

.header4 {
    font-size: 28px;
    font-weight: 700;
    color:#1E212C;
    line-height: 42px;
}

/* typography */


.nav {
    display: flex;
    justify-content: center;
    width: 1230px;
    height: 52px;
    padding: 5px 0;
    margin: 20px 345px 20px 345px;
    align-items: center;
}

.nav_logo {
    display: flex;
    width: 130px;
    height: 22px;
    margin: 0 60px 0 0;
}

.nav_menu {
    display: flex;
    align-items: center;
    margin: 0 112px 0 0;
}

.nav_menu_item {
    display: flex;
    margin: 0 40px 0 0;
}

.nav_call {
    display: flex;
    flex-wrap: nowrap;
}

.nav_call_call-us {
    display: flex;
    margin: 0 36px 0 0;
}

.nav_call_call-us_pic {
    margin: 0 12px 0 0;
}

.nav_call_talktous {
    display: flex;
}

.nav_call_talktous_pic {
    margin: 0 12px 0 0;
}

.slider {
    display: flex;
    min-width: 1920px;
    min-height: 988px;
    background: no-repeat url(/random_layout/pics/slider/bg-image.jpg);
}

.slider_container {
    margin: 220px 0 0 260px;
}

.slider_header {
    color: #FFFFFF;
    font-size: 72px;
    font-weight: 700;
    line-height: 93.6px;
    width: 577px;
    height: 188px;
}

.slider_header_createx_orange {
    color: #FF5A30;
}

.slider_text {
    width: 500px;
    height: 90px;
    flex-wrap: wrap;
    color: #FFFFFF;
    size: 20px;
    line-height: 30px;
    margin: 24px 0 0 0;
}

.slider_buttons {
    display: flex;
    color: #FFFFFF;
    width: 526px;
    height: 52px;
    margin: 60px 0 0 0;
}

.slider_buttons_text {
    color: #FFFFFF;
    font-weight: 700;
}

.slider_buttons_learnmore {
    margin: 0 24px 0 0;
}

.slider_buttons_text {
    border: 1px solid white;
    width: 220px;
    height: 40px;
}

.slider_buttons_text:hover {
    border: none;
    background-color: #FF5A30;
    width: 220px;
    height: 40px;
    transition: 250ms;
}

.slider_pgnext {
    margin: 470px 0 0 790px;
}

.slider_pgback {
    margin: 470px 0 0 32px;
}

.slider_pgbtn {
    border-radius: 50%;
    background-color: #FFFFFF;
    opacity: 50%;
    width: 48px;
    height: 48px;
}

.slider_pgbtn:hover {
    opacity: 100%;
    transition: 250ms;
}

.slider_controls {
    color: #FFFFFF;
    display: flex;
    margin: 180px 0 0 0;
    gap: 3px;
}

.slider_controls_button {
    display: flex;
    color: #FFFFFF;
    width: 178px;
    height: 54px;
    opacity: 50%;
    border-bottom: 2px solid #FFFFFF;
}

.slider_h3 {
    font-size: 28px;
    line-height: 42px;
}

.slider_controls_buttons {
    color: #FFFFFF;
    size: 28px;
}

.slider_controls_button:hover {
    opacity: 100%;
    transition: 250ms;
}

.video_container {
    display: flex;
    flex-direction: column;
    width: 1230px;
    height: 671px;
    margin: 120px 345px 0 345px;
}

.video_header {
    text-align: center;
    font-size: 46px;
}

.video_text {
    margin: 24px 0 0 0;
    line-height: 27px;
    font-size: 18px;
    text-align: center;
    color: #787A80;
    font-weight: 400;
}

.video_player {
    height: 500px;
    width: 1230px;
}

.values {
    width: 1231px;
    height: 359px;
    margin: 0 0 0 345px;
}

.values_container {
    display: flex;
    flex-direction: column;
    width: 1231px;
    height: 359px;
    padding: 0 0 270px 0;
}

.values_text {
    margin: 24px 0 0 0;
}

.values_iconbox {
    display: flex;
    margin: 60px 0 0 0;
    text-align: center;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.values_iconbox__box {
    display: flex;
    flex-direction: row;
}

.values_iconbox__size {
    width: 285px;
}

.flex_column {
    display: flex;
    flex-direction: column;
}

.values_iconbox_quality {
    margin: 0px 188px 0 0;
}

.values_iconbox_safety {
    margin: 0px 188px 0 0;
}

.values_iconbox_comfort {
    margin: 0;
}

.values_pic {
    margin: 0 0 24px 0;
    height: 48px;
    width: 48px;
    align-self: center;
}

.small_header {
    font-weight: 700;
    font-size: 20px;
    margin: 0 0 8px 0;
}

.values_iconbox__text{
    margin: 8px 0 0 0;
}

.after_vertical-line::after {
    content: "";
    height: 188px;
    width: 1px;
    background:radial-gradient(#DADBDD, #DADBDD00);
    position: relative;
    left: 94px;
}

.request {

}

.request_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 1230px;
    height: 243px;
    top: 100px;
    left: 345px;
    background-color: white;
    box-shadow: 0px 4px 4px -4px #1E212C08;

    box-shadow: 0px 12px 10px -6px #9A9CA50A;
    
    box-shadow: 0px 30px 24px -10px #9A9CA50D;
    
    box-shadow: 0px 80px 80px -20px #9A9CA514;
}

.request_container__header {
    text-align: center;
    margin: 48px 0 0 0;
}

.request_container__form {
    display: flex;
    flex-direction: row;
    gap: 24px;
    margin: 32px 0 0 0px;
}

.request_container__form__send {
    height: 44px;
    margin: 20px 0 0 0;
}

.standart_input {
    border: 1px solid #D7DADD;
    padding: 11px 0 11px 16px;
    border-radius: 4px;
    background-color: #F4F5F6;
}

.standart_input::placeholder {
    opacity: 0.5;
}

.input_name {
    width: 264px;
    height: 44px;
}

.input_phone {
    width: 264px;
    height: 44px;
}

.input_message {
    width: 414px;
    height: 44px;
}

.orange_btn {
    color: white;
    background-color: #FF5A30;
    padding: 0 32px;
    border-radius: 4px;
}

.services {
    height: 880px;
    width: 1920px;
    background-color: #E5E8ED;
    display: flex;
}

.services_container {
    display: flex;
    flex-direction: column;
    width: 1575px;
    padding: 212px 0 0 345px;
}


.services_container__header {
    align-self: center;
    width: 274px;
    height: 60px;
}

.services_container__text {
    align-self: center;
    margin: 24px 0 0 0;
}

.services_container__block {
    display: flex;
    flex-direction: row;
    margin: 60px 0 0 0;
    text-align: center;
    gap: 30px;
}

.block {
    width: 285px;
    height: 285px;
    background-color: #FFFFFF;
    border: solid 1px #E5E8ED;
    border-radius: 4px;
    flex: 1;
    box-shadow: 0px 4px 4px -4px #1E212C08;

    box-shadow: 0px 12px 10px -6px #9A9CA50A;

    box-shadow: 0px 30px 24px -10px #9A9CA50D;

    box-shadow: 0px 80px 80px -20px #9A9CA514;

    padding: 89px 0 0 0;

}

.block_interior-design {
    background: url(/random_layout/pics/services/hover.png) no-repeat;
}

.block_text {
    padding: 24px;
}

.services_container__learnmore {
    display: flex;
    flex-direction: row;
    align-self: center;
    width: 652px;
    gap: 40px;
    margin: 80px 0 0 0;
}

.portfolio_container {
    display: flex;
    flex-wrap: wrap;
    width: 1245px;
    height: 752px;
    margin: 120px 0 0 345px;

}

.portfolio_sliderctrls {
    display: flex;
    gap: 5px;
    margin: 84px 0 0 453px;
}

.arrow_btn {
    border-radius: 50%;
    height: 48px;
    width: 48px;
    background-color: white;
}

.arrow_btn:hover {
    background-color: #FF5A30;
    transition: 250ms;
}

.portfolio_carousel {
    display: flex;
    gap: 30px;
}

.portfolio_carousel_card {
    width: 390px;
    height: 440px;
    box-shadow: 0px 4px 4px -4px #1E212C08;

    box-shadow: 0px 12px 10px -6px #9A9CA50A;
    
    box-shadow: 0px 30px 24px -10px #9A9CA50D;
    
    box-shadow: 0px 80px 80px -20px #9A9CA514;

    box-shadow: 0px 4px 4px -4px #1E212C08;

    box-shadow: 0px 12px 10px -6px #9A9CA50A;
    
    box-shadow: 0px 30px 24px -10px #9A9CA50D;
    
    box-shadow: 0px 80px 80px -20px #9A9CA514;
        
}

.card_image {
    width: 390px;
    height: 345px;
}

.card_project-name {
    text-align: center;
    position: relative;
    padding: 16px 0 0 0;
    height: 90px;
    width: 390px;
    overflow: hidden;
    opacity: 1;
    transition: all 1s;
    background-color: #FFFFFF;
}

.card_project-name:hover {
    position: relative;
    background-color: #FFFFFF;
    transition: all 1s;
    margin: -68px 0 0 0;
    padding: 16px 0 0 0;
    height: 163px;
    opacity: 1;
}


.card_project-name__text {
    margin: 4px 0 0 0;
}

.portfolio_viewall {
    display: flex;
    flex-direction: row;
    gap: 40px;
    width: 100%;
    justify-content: center;
}


.portfolio_viewall__flexitem {

}

.view_button {
    margin: 24px 0 0 0;
}


.orange-outlne_btn {
    border: 1px solid #FF5A30;
    color: #FF5A30;
    font-weight: 700;
    font-size: 14px;
    line-height: 44px;
    padding: 0 32px;
    border-radius: 4px;
}